@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
 }
@font-face {
    font-family: 'Port Lligat Sans';
    src: url('./fonts/Port_Lligat_Sans/PortLligatSans-Regular.ttf') format('truetype');
 }

*{
	margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Port Lligat Sans', sans-serif;
}

p, li, em, strong, span, a, figcaption {
    font-family: 'Montserrat', sans-serif;
}